@model WeatherApp.Models.WeatherListViewModel
@{
    ViewData["Title"] = "Просмотр";
    IPagedList pagedmod = (IPagedList)ViewBag.Weathers1;
}
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common

    
        <style type="text/css">
            .centerText {
                text-align: center;
            }
        </style>
    
<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

<form method="get">
    <div class="form-inline form-group">

        <select class="form-control"
                asp-for="month"
                asp-items="Model.Months">
            <option value="">Выберите месяц</option>

        </select>
        <select class="form-control"
                asp-for="year"
                asp-items="Model.Years">
            <option value="">Выберите год</option>

        </select>
        <input type="submit" value="Фильтр" class="form-control" />

    </div>
</form>

<!-- loop through each of your products and display it however you want.we're just printing the name here -->
<h3> Просмотр архивов погодных условий в городе Москве</h3>

<table cellpadding="7" border="2" width="100%" align="center">
    <tr>
        <td class="centerText">Дата </td>
        <td class="centerText">Температура, гр. Ц </td>
        <td class="centerText">Отн. влажность, % </td>
        <td class="centerText">Точка росы, гр. Ц </td>
        <td class="centerText">Атм. давление, мм рт.ст </td>
        <td class="centerText">Направление ветра </td>
        <td class="centerText">Скорость ветра, м/с </td>
        <td class="centerText">Облачность, % </td>
        <td class="centerText">Нижняя граница облачности, м </td>
        <td class="centerText">Горизонтальная видимость, км </td>
        <td class="centerText">Погодные явления </td>
    </tr>
    @foreach (var wew in ViewBag.Weathers1)
    {
        <tr>
            <td class="centerText"> @wew.Date </td>
            <td class="centerText"> @wew.T </td>
            <td class="centerText"> @wew.Humidity </td>
            <td class="centerText"> @wew.Td </td>
            <td class="centerText"> @wew.AtmoPress </td>
            <td class="centerText"> @wew.Wind </td>
            <td class="centerText"> @wew.WindSpeed</td>
            <td class="centerText"> @wew.Clouds </td>
            <td class="centerText"> @wew.h</td>
            <td class="centerText"> @wew.VV</td>
            <td class="centerText"> @wew.Other</td>
        </tr>
    }
</table>


@(Html.Pager(pagedmod)
.Url(page => Url.Action("ViewTable", new { page
        }))
.Build())